@import '../../common.less';
.title {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: @default-padding 0px;
	border-bottom: 4px solid #dcdcdc7f;
	font-weight: 500;


	:global {
		.ant-input {
			border: 0px;
      font-size: 18px;
      padding: 0px @default-padding;
			&:focus {
				outline: none;
				box-shadow: unset;
			}
		}
	}
}
