@import './variables.less';
.basic-body-css {
	font-size: @default-font-size;
	width: 40%;
	margin: auto;
	padding: 0px 32px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}
#app {
	height: 100%;
	overflow-y: scroll;
}
body {
	.basic-body-css;
}

/** 黑夜模式 */
@media (prefers-color-scheme: dark) {
	/* 操作系统及浏览器支持且用户开启了 Dark Mode */
	body {
		.basic-body-css;
		background-color: black;
		color: white;
	}
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
	:global {
		.ant-btn-primary {
      &:hover {
        border-color: white;
      }
			background-color: black !important;
      border-color: gray;
		}
	}
}
* {
	margin: 0;
	padding: 0;
}
.font {
	font-size: @default-font-size;
}

/** antd样式覆盖 */
:global {
	.ant-collapse > .ant-collapse-item > .ant-collapse-header {
		padding: 4px 8px;
	}
	.ant-card {
		.ant-card-head {
			padding: 0px @default-padding;
			min-height: @normal-Height;
			.ant-card-head-wrapper {
				height: @normal-Height;
			}
		}
		.ant-card-body {
			padding: @default-padding;
		}
	}

	.ant-card-head-title {
		padding: 8px 0px;
	}
}
